html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}

.bottom-button {
    margin-top: 60px;


}
.bottom-link {
    margin-top: 60px;
    vertical-align: bottom;
}