@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dave Cunningham Sample Application</h1>
    <p>Developed as a legacy app them migrated to using REST api.</p>
</div>
